<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoFill Provider.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Guru.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftCSV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Zip.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4593CD32668F39C001DF782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E45CBAAE26861A9900644ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46BB50C2691EC2900BEE0AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C78EC22687111F00128F9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C78EDA268719D200128F9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CB96D9268620DA009D959B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CEAC2526A290BF0067796E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CEAC3C26A2E9B60067796E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CEAC7926A30FB40067796E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4CEAD3426A3D55A0067796E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4EAB9ED2657E59C0054F310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4ED9FEE2660B06E003919C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
