<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adobe.com</key>
	<string>SV.Adobe</string>
	<key>amazon.com</key>
	<string>SV.Amazon</string>
	<key>amazon.com.br</key>
	<string>SV.Amazon</string>
	<key>amazon.ca</key>
	<string>SV.Amazon</string>
	<key>amazon.com.mx</key>
	<string>SV.Amazon</string>
	<key>amazon.cn</key>
	<string>SV.Amazon</string>
	<key>amazon.in</key>
	<string>SV.Amazon</string>
	<key>amazon.co.jp</key>
	<string>SV.Amazon</string>
	<key>amazon.sg</key>
	<string>SV.Amazon</string>
	<key>amazon.ae</key>
	<string>SV.Amazon</string>
	<key>amazon.sa</key>
	<string>SV.Amazon</string>
	<key>amazon.fr</key>
	<string>SV.Amazon</string>
	<key>amazon.de</key>
	<string>SV.Amazon</string>
	<key>amazon.it</key>
	<string>SV.Amazon</string>
	<key>amazon.nl</key>
	<string>SV.Amazon</string>
	<key>amazon.pl</key>
	<string>SV.Amazon</string>
	<key>amazon.es</key>
	<string>SV.Amazon</string>
	<key>amazon.se</key>
	<string>SV.Amazon</string>
	<key>amazon.com.tr</key>
	<string>SV.Amazon</string>
	<key>amazon.co.uk</key>
	<string>SV.Amazon</string>
	<key>amazom.com.au</key>
	<string>SV.Amazon</string>
	<key>apple.com</key>
	<string>SV.Apple</string>
	<key>bandainamcoid.com</key>
	<string>SV.BandaiNamcoID</string>
	<key>brilliant.org</key>
	<string>SV.Brilliant</string>
	<key>carousell.sg</key>
	<string>SV.Carousell</string>
	<key>challenger.com.sg</key>
	<string>AI.001</string>
	<key>coinhako.com</key>
	<string>SV.Coinhako</string>
	<key>crypto.com</key>
	<string>SV.Monaco</string>
	<key>dbs.com.sg</key>
	<string>SV.DBS</string>
	<key>dbs.com</key>
	<string>SV.DBS</string>
	<key>deliveroo.co.uk</key>
	<string>SV.Deliveroo</string>
	<key>deliveroo.com</key>
	<string>SV.Deliveroo</string>
	<key>deliveroo.com.sg</key>
	<string>SV.Deliveroo</string>
	<key>discord.com</key>
	<string>SV.Discord</string>
	<key>dlsite.com</key>
	<string>AI.001</string>
	<key>dmm.com</key>
	<string>SV.DMM</string>
	<key>dmm.co.jp</key>
	<string>SV.DMM</string>
	<key>ezlink.com.sg</key>
	<string>AI.001</string>
	<key>facebook.com</key>
	<string>SV.Facebook</string>
	<key>foodpanda.com</key>
	<string>SV.Foodpanda</string>
	<key>foodpanda.sg</key>
	<string>SV.Foodpanda</string>
	<key>forestapp.cc</key>
	<string>SV.Forest</string>
	<key>frankbyocbc.com</key>
	<string>SV.OCBC</string>
	<key>getchu.com</key>
	<string>AI.001</string>
	<key>github.com</key>
	<string>SV.GitHub</string>
	<key>gojek.com</key>
	<string>SV.Gojek</string>
	<key>google.com</key>
	<string>SV.Google</string>
	<key>google.ad</key>
	<string>SV.Google</string>
	<key>google.ae</key>
	<string>SV.Google</string>
	<key>google.com.af</key>
	<string>SV.Google</string>
	<key>google.com.ag</key>
	<string>SV.Google</string>
	<key>google.com.ai</key>
	<string>SV.Google</string>
	<key>google.al</key>
	<string>SV.Google</string>
	<key>google.am</key>
	<string>SV.Google</string>
	<key>google.co.ao</key>
	<string>SV.Google</string>
	<key>google.com.ar</key>
	<string>SV.Google</string>
	<key>google.as</key>
	<string>SV.Google</string>
	<key>google.at</key>
	<string>SV.Google</string>
	<key>google.com.au</key>
	<string>SV.Google</string>
	<key>google.az</key>
	<string>SV.Google</string>
	<key>google.ba</key>
	<string>SV.Google</string>
	<key>google.com.bd</key>
	<string>SV.Google</string>
	<key>google.be</key>
	<string>SV.Google</string>
	<key>google.bf</key>
	<string>SV.Google</string>
	<key>google.bg</key>
	<string>SV.Google</string>
	<key>google.com.bh</key>
	<string>SV.Google</string>
	<key>google.bi</key>
	<string>SV.Google</string>
	<key>google.bj</key>
	<string>SV.Google</string>
	<key>google.com.bn</key>
	<string>SV.Google</string>
	<key>google.com.bo</key>
	<string>SV.Google</string>
	<key>google.com.br</key>
	<string>SV.Google</string>
	<key>google.bs</key>
	<string>SV.Google</string>
	<key>google.bt</key>
	<string>SV.Google</string>
	<key>google.co.bw</key>
	<string>SV.Google</string>
	<key>google.by</key>
	<string>SV.Google</string>
	<key>google.com.bz</key>
	<string>SV.Google</string>
	<key>google.ca</key>
	<string>SV.Google</string>
	<key>google.cd</key>
	<string>SV.Google</string>
	<key>google.cf</key>
	<string>SV.Google</string>
	<key>google.cg</key>
	<string>SV.Google</string>
	<key>google.ch</key>
	<string>SV.Google</string>
	<key>google.ci</key>
	<string>SV.Google</string>
	<key>google.co.ck</key>
	<string>SV.Google</string>
	<key>google.cl</key>
	<string>SV.Google</string>
	<key>google.cm</key>
	<string>SV.Google</string>
	<key>google.cn</key>
	<string>SV.Google</string>
	<key>google.com.co</key>
	<string>SV.Google</string>
	<key>google.co.cr</key>
	<string>SV.Google</string>
	<key>google.com.cu</key>
	<string>SV.Google</string>
	<key>google.cv</key>
	<string>SV.Google</string>
	<key>google.com.cy</key>
	<string>SV.Google</string>
	<key>google.cz</key>
	<string>SV.Google</string>
	<key>google.de</key>
	<string>SV.Google</string>
	<key>google.dj</key>
	<string>SV.Google</string>
	<key>google.dk</key>
	<string>SV.Google</string>
	<key>google.dm</key>
	<string>SV.Google</string>
	<key>google.com.do</key>
	<string>SV.Google</string>
	<key>google.dz</key>
	<string>SV.Google</string>
	<key>google.com.ec</key>
	<string>SV.Google</string>
	<key>google.ee</key>
	<string>SV.Google</string>
	<key>google.com.eg</key>
	<string>SV.Google</string>
	<key>google.es</key>
	<string>SV.Google</string>
	<key>google.com.et</key>
	<string>SV.Google</string>
	<key>google.fi</key>
	<string>SV.Google</string>
	<key>google.com.fj</key>
	<string>SV.Google</string>
	<key>google.fm</key>
	<string>SV.Google</string>
	<key>google.fr</key>
	<string>SV.Google</string>
	<key>google.ga</key>
	<string>SV.Google</string>
	<key>google.ge</key>
	<string>SV.Google</string>
	<key>google.gg</key>
	<string>SV.Google</string>
	<key>google.com.gh</key>
	<string>SV.Google</string>
	<key>google.com.gi</key>
	<string>SV.Google</string>
	<key>google.gl</key>
	<string>SV.Google</string>
	<key>google.gm</key>
	<string>SV.Google</string>
	<key>google.gr</key>
	<string>SV.Google</string>
	<key>google.com.gt</key>
	<string>SV.Google</string>
	<key>google.gy</key>
	<string>SV.Google</string>
	<key>google.com.hk</key>
	<string>SV.Google</string>
	<key>google.hn</key>
	<string>SV.Google</string>
	<key>google.hr</key>
	<string>SV.Google</string>
	<key>google.ht</key>
	<string>SV.Google</string>
	<key>google.hu</key>
	<string>SV.Google</string>
	<key>google.co.id</key>
	<string>SV.Google</string>
	<key>google.ie</key>
	<string>SV.Google</string>
	<key>google.co.il</key>
	<string>SV.Google</string>
	<key>google.im</key>
	<string>SV.Google</string>
	<key>google.co.in</key>
	<string>SV.Google</string>
	<key>google.iq</key>
	<string>SV.Google</string>
	<key>google.is</key>
	<string>SV.Google</string>
	<key>google.it</key>
	<string>SV.Google</string>
	<key>google.je</key>
	<string>SV.Google</string>
	<key>google.com.jm</key>
	<string>SV.Google</string>
	<key>google.jo</key>
	<string>SV.Google</string>
	<key>google.co.jp</key>
	<string>SV.Google</string>
	<key>google.co.ke</key>
	<string>SV.Google</string>
	<key>google.com.kh</key>
	<string>SV.Google</string>
	<key>google.ki</key>
	<string>SV.Google</string>
	<key>google.kg</key>
	<string>SV.Google</string>
	<key>google.co.kr</key>
	<string>SV.Google</string>
	<key>google.com.kw</key>
	<string>SV.Google</string>
	<key>google.kz</key>
	<string>SV.Google</string>
	<key>google.la</key>
	<string>SV.Google</string>
	<key>google.com.lb</key>
	<string>SV.Google</string>
	<key>google.li</key>
	<string>SV.Google</string>
	<key>google.lk</key>
	<string>SV.Google</string>
	<key>google.co.ls</key>
	<string>SV.Google</string>
	<key>google.lt</key>
	<string>SV.Google</string>
	<key>google.lu</key>
	<string>SV.Google</string>
	<key>google.lv</key>
	<string>SV.Google</string>
	<key>google.com.ly</key>
	<string>SV.Google</string>
	<key>google.co.ma</key>
	<string>SV.Google</string>
	<key>google.md</key>
	<string>SV.Google</string>
	<key>google.me</key>
	<string>SV.Google</string>
	<key>google.mg</key>
	<string>SV.Google</string>
	<key>google.mk</key>
	<string>SV.Google</string>
	<key>google.ml</key>
	<string>SV.Google</string>
	<key>google.com.mm</key>
	<string>SV.Google</string>
	<key>google.mn</key>
	<string>SV.Google</string>
	<key>google.ms</key>
	<string>SV.Google</string>
	<key>google.com.mt</key>
	<string>SV.Google</string>
	<key>google.mu</key>
	<string>SV.Google</string>
	<key>google.mv</key>
	<string>SV.Google</string>
	<key>google.mw</key>
	<string>SV.Google</string>
	<key>google.com.mx</key>
	<string>SV.Google</string>
	<key>google.com.my</key>
	<string>SV.Google</string>
	<key>google.co.mz</key>
	<string>SV.Google</string>
	<key>google.com.na</key>
	<string>SV.Google</string>
	<key>google.com.ng</key>
	<string>SV.Google</string>
	<key>google.com.ni</key>
	<string>SV.Google</string>
	<key>google.ne</key>
	<string>SV.Google</string>
	<key>google.nl</key>
	<string>SV.Google</string>
	<key>google.no</key>
	<string>SV.Google</string>
	<key>google.com.np</key>
	<string>SV.Google</string>
	<key>google.nr</key>
	<string>SV.Google</string>
	<key>google.nu</key>
	<string>SV.Google</string>
	<key>google.co.nz</key>
	<string>SV.Google</string>
	<key>google.com.om</key>
	<string>SV.Google</string>
	<key>google.com.pa</key>
	<string>SV.Google</string>
	<key>google.com.pe</key>
	<string>SV.Google</string>
	<key>google.com.pg</key>
	<string>SV.Google</string>
	<key>google.com.ph</key>
	<string>SV.Google</string>
	<key>google.com.pk</key>
	<string>SV.Google</string>
	<key>google.pl</key>
	<string>SV.Google</string>
	<key>google.pn</key>
	<string>SV.Google</string>
	<key>google.com.pr</key>
	<string>SV.Google</string>
	<key>google.ps</key>
	<string>SV.Google</string>
	<key>google.pt</key>
	<string>SV.Google</string>
	<key>google.com.py</key>
	<string>SV.Google</string>
	<key>google.com.qa</key>
	<string>SV.Google</string>
	<key>google.ro</key>
	<string>SV.Google</string>
	<key>google.ru</key>
	<string>SV.Google</string>
	<key>google.rw</key>
	<string>SV.Google</string>
	<key>google.com.sa</key>
	<string>SV.Google</string>
	<key>google.com.sb</key>
	<string>SV.Google</string>
	<key>google.sc</key>
	<string>SV.Google</string>
	<key>google.se</key>
	<string>SV.Google</string>
	<key>google.com.sg</key>
	<string>SV.Google</string>
	<key>google.sh</key>
	<string>SV.Google</string>
	<key>google.si</key>
	<string>SV.Google</string>
	<key>google.sk</key>
	<string>SV.Google</string>
	<key>google.com.sl</key>
	<string>SV.Google</string>
	<key>google.sn</key>
	<string>SV.Google</string>
	<key>google.so</key>
	<string>SV.Google</string>
	<key>google.sm</key>
	<string>SV.Google</string>
	<key>google.sr</key>
	<string>SV.Google</string>
	<key>google.st</key>
	<string>SV.Google</string>
	<key>google.com.sv</key>
	<string>SV.Google</string>
	<key>google.td</key>
	<string>SV.Google</string>
	<key>google.tg</key>
	<string>SV.Google</string>
	<key>google.co.th</key>
	<string>SV.Google</string>
	<key>google.com.tj</key>
	<string>SV.Google</string>
	<key>google.tl</key>
	<string>SV.Google</string>
	<key>google.tm</key>
	<string>SV.Google</string>
	<key>google.tn</key>
	<string>SV.Google</string>
	<key>google.to</key>
	<string>SV.Google</string>
	<key>google.com.tr</key>
	<string>SV.Google</string>
	<key>google.tt</key>
	<string>SV.Google</string>
	<key>google.com.tw</key>
	<string>SV.Google</string>
	<key>google.co.tz</key>
	<string>SV.Google</string>
	<key>google.com.ua</key>
	<string>SV.Google</string>
	<key>google.co.ug</key>
	<string>SV.Google</string>
	<key>google.co.uk</key>
	<string>SV.Google</string>
	<key>google.com.uy</key>
	<string>SV.Google</string>
	<key>google.co.uz</key>
	<string>SV.Google</string>
	<key>google.com.vc</key>
	<string>SV.Google</string>
	<key>google.co.ve</key>
	<string>SV.Google</string>
	<key>google.vg</key>
	<string>SV.Google</string>
	<key>google.co.vi</key>
	<string>SV.Google</string>
	<key>google.com.vn</key>
	<string>SV.Google</string>
	<key>google.vu</key>
	<string>SV.Google</string>
	<key>google.ws</key>
	<string>SV.Google</string>
	<key>google.rs</key>
	<string>SV.Google</string>
	<key>google.co.za</key>
	<string>SV.Google</string>
	<key>google.co.zm</key>
	<string>SV.Google</string>
	<key>google.co.zw</key>
	<string>SV.Google</string>
	<key>google.cat</key>
	<string>SV.Google</string>
	<key>grab.com</key>
	<string>SV.Grab</string>
	<key>hireright.com</key>
	<string>AI.001</string>
	<key>heyally.com</key>
	<string>AI.001</string>
	<key>icloud.com</key>
	<string>SV.Apple</string>
	<key>instagram.com</key>
	<string>SV.Instagram</string>
	<key>iocbc.com</key>
	<string>SV.OCBC</string>
	<key>kakaotalk.com</key>
	<string>SV.Kakao</string>
	<key>line.me</key>
	<string>SV.LINE</string>
	<key>linkedin.com</key>
	<string>SV.LinkedIn</string>
	<key>live.com</key>
	<string>SV.Microsoft</string>
	<key>mcdonalds.com</key>
	<string>SV.McDonalds</string>
	<key>mcdelivery.com</key>
	<string>SV.McDonalds</string>
	<key>mcdonalds.com.sg</key>
	<string>SV.McDonalds</string>
	<key>mcdelivery.com.sg</key>
	<string>SV.McDonalds</string>
	<key>meethue.com</key>
	<string>SV.Hue</string>
	<key>mega.co.nz</key>
	<string>SV.MEGA</string>
	<key>mega.nz</key>
	<string>SV.MEGA</string>
	<key>microsoftonline.com</key>
	<string>SV.Microsoft</string>
	<key>microsoft.com</key>
	<string>SV.Microsoft</string>
	<key>mona.co</key>
	<string>SV.Monaco</string>
	<key>m1.com.sg</key>
	<string>SV.M1</string>
	<key>outlook.com</key>
	<string>SV.Microsoft</string>
	<key>hotmail.com</key>
	<string>SV.Microsoft</string>
	<key>my-aime.net</key>
	<string>SV.Aime</string>
	<key>netflix.com</key>
	<string>SV.Netflix</string>
	<key>ocbc.com</key>
	<string>SV.OCBC</string>
	<key>pinterest.com</key>
	<string>SV.Pinterest</string>
	<key>pixiv.com</key>
	<string>SV.Pixiv</string>
	<key>pixiv.net</key>
	<string>SV.Pixiv</string>
	<key>primevideo.com</key>
	<string>SV.PrimeVideo</string>
	<key>protonmail.com</key>
	<string>SV.ProtonMail</string>
	<key>reddit.com</key>
	<string>SV.Reddit</string>
	<key>redd.it</key>
	<string>SV.Reddit</string>
	<key>revolut.com</key>
	<string>SV.Revolut</string>
	<key>sc.com</key>
	<string>SV.SC</string>
	<key>singpass.gov.sg</key>
	<string>SV.SingPass</string>
	<key>singtel.com</key>
	<string>SV.Singtel</string>
	<key>skillshare.com</key>
	<string>SV.SkillShare</string>
	<key>snapchat.com</key>
	<string>SV.Snapchat</string>
	<key>standardchartered.com.sg</key>
	<string>SV.SC</string>
	<key>standardchartered.com</key>
	<string>SV.SC</string>
	<key>starhub.com</key>
	<string>SV.Starhub</string>
	<key>teamviewer.com</key>
	<string>SV.TeamViewer</string>
	<key>telegram.org</key>
	<string>SV.Telegram</string>
	<key>twitter.com</key>
	<string>SV.Twitter</string>
	<key>udemy.com</key>
	<string>SV.Udemy</string>
	<key>uobgroup.com</key>
	<string>SV.UOB</string>
	<key>uob.com.sg</key>
	<string>SV.UOB</string>
	<key>whatsapp.com</key>
	<string>SV.WhatsApp</string>
	<key>wordpress.com</key>
	<string>SV.WordPress</string>
	<key>yahoo.co.jp</key>
	<string>SV.YJP</string>
	<key>yahoo.com</key>
	<string>SV.YCOM</string>
	<key>youtube.com</key>
	<string>SV.YouTube</string>
</dict>
</plist>
