<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1234567890</string>
	<string>qwertyuiop</string>
	<string>asdfghjkl</string>
	<string>zxcvbnm</string>
	<string>qazwsxedcrfv</string>
	<string>tgbyhnujmikolp</string>
	<string>okmijnuhbygv</string>
	<string>tfcrdxeszwaq</string>
	<string>qawsedrft</string>
	<string>azsxdcfvg</string>
	<string>yhujikolp</string>
	<string>bhnjmkl</string>
	<string>1qaz2wsx3edc</string>
	<string>4rfv5tgb6yhn</string>
	<string>7ujm8ik9ol0p</string>
	<string>0987654321</string>
	<string>poiuytrewq</string>
	<string>lkjhgfdsa</string>
	<string>mnbvcxz</string>
</array>
</plist>
